body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #E6F7FF;
}
/* Global */
.container{
width: 80%;
margin: auto;
overflow: hidden;

}

ul{
	padding: 0;
	margin: 0;
}


header {
background-color: #330000;
color: #FFFFFF;
padding-top: 30px;
min-height: 70px;
border-bottom: #0000E6 3px solid;
}
header a{
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
}

header li{
	float: left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #brand-logo{
	float: left;
}
header #brand-logo h1{
margin: 0;
}
header nav{
	float: right;
	margin-top: 10px;
}

header a:hover{
color: #FF4D4D;
font-weight: bold;
}

header .current a{
	color: #FF0000; 
	font-weight: bold;
}

#company{
	min-height: 500px;
	background: url('../images/sendit3.jpg') no-repeat 0 20px ;
	text-align: center;
}

#company h1{
margin-top: 80px;
font-size: 2em;
margin-bottom: 10px;
color: brown;
}

#company p{
	font-size: 1.2em;
	color: brown;
}
footer{
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 0;
	color: #FFFFFF;
	background-color: #FF4D4D;
	text-align: center;
}
#company label{
	color: black;
	font-size: 1.2em;


}

.form__wrapper{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    min-height: 280px;
    margin-top: 10px;
    width: 400px;
    text-align: left;

}

.myButton {
    width: 100%;
    background-color: #0000ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.myButton:hover{
background-color: #0080ff;
color: white;
}
.myInputs {
    width: 100%;
    font-size: 1.1em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.dashboard-container{
	margin-left: 0;
}

#dashboard{
	background: url('../images/sendit4.jpg');
	min-height: 500px;
}
.navBar ul{
    list-style-type: none;
    width: 200px;
    background-color: inherit;
}

.navBar li a {
    display: inline-block;
    color: brown;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.navBar li a:hover {
    background-color: #555;
    color: white;
}

.navBar{
width: 20%;
float: left;
}

.create_form{
width: 50%;
float: left;
margin-top: 0px;

}

#dashboard label{
  font-weight: bold;
  color: blue;

}