*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body, html{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-color: white;
  height: 100%;
  box-sizing: border-box;
}
/* Global */
.container{
width: 80%;
margin: auto;
overflow: hidden;
min-height: 100%;


}
.container__flex{
display: flex;
margin-top: 2%;
border: 1px solid brown;
padding: 50px;
border-radius: 40px;
justify-content: space-between;
background-color: white;



}
.order__tag{
  margin-top:10%;
  margin-left:20%;
  background-color: inherit;
}
.container__wrapper h2{
  /* padding: 3px; */
  margin-top:60px;
  color: brown;
  text-align: center;
}
.container__wrapper h1{
  color:brown;
}
.uploadpic{
  border: 1px solid brown;
  border-radius: 25%;
  height: 150px;
  width: 150px;
  padding: 10px;
  order: 2;
}
.uploadpic h2{
  /* padding: 10px; */
  margin: auto;
  margin-top: 40px;
}
.myform{
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: lightgray;
  height: 400px;
}


ul{
	padding: 0;
	margin: 0;
}

header {
background-color: #330000;
color: white;
position: relative;
}
header a{
	color: #FFFFFF;
	text-decoration: none;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .container {
display: flex;
justify-content: space-between;
align-items: center;
}


header li{
	float: left;
	display:inline;
	padding: 0px 10px 10px;
}

header #brand-logo{
	float: left;
}
header #brand-logo h1{
margin: 0;
padding: 0;
padding-right: 75%;
}
header nav{
	float: right;
	margin-top: 10px;
}

header a:hover{
color: #FF4D4D;
font-weight: bold;
}

header .current a{
	color: #FF0000; 
	font-weight: bold;
}

.company{
	background: linear-gradient(rgba(0, 0, 0, 0.6),
                              rgba(0, 0, 0, 0.6)
                              ), 
  url('../images/sendit3.jpg') no-repeat;
  background-size: cover;
  min-height: calc(100vh - 87px);
}
.container__wrapper{
  overflow: auto;
  position: relative;
   min-height: calc(100vh - 87px);
}

.company h1{
margin-top: 60px;
font-size: 2.6em;
margin-bottom: 10px;
color: white;
}


.company p{
	font-size: 1.2em;
  color: white;
  position: auto;
}
#details {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
footer{
	padding: 10px;
	color: #FFFFFF;
	background-color: #330000;
  text-align: center;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
}
#company label{
	color: black;
	font-size: 1.2em;


}

.form__wrapper{
    border-radius: 5px;
    background-color: inherit;
    padding: 20px;
    margin: auto;
    min-height: 280px;
    margin-top: 60px;
    width: 400px;
    text-align: left;

}
.form__wrapper h2, h3{
  text-align: center;
  font-family: Open Sans;
  color: white;
}
.form__wrapper label {
  font-size: 1.2em;
  font-family: Lora;
  font-weight: bold;
  color: white;

}
.profile{
    border-radius: 5px;
    background-color: inherit;
    top:15%;
    height: 480px;
    left:40%;
    width: 300px;
    text-align: left;
    position: absolute;
    overflow:hidden;
    transform: rotateX(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2)


}
#profilePic{
	width: 100%;

}
.profile__view{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	margin: 0;
	padding: 5px 10px;
	background: white;
	border-radius: 15px;
	text-decoration: none;
	font-weight:bold;
	color: brown;
}
.profile__details{
	width: 100%;
	height: 50%;
	background: white;
	position: absolute;
	bottom: 0;
	text-align:center;
	padding: 20px;
  transition: 0.5s;
  transform: perspective(500px) scale(1);
} 
.profile__details.activeProfile {
  transform: perspective(500px) scale(1);
}
.profile__details h2{
	margin: 0;
	padding: 0;
	color:brown;
	font-size: 18px;
}
.profile__details h2 span{
	font-size: 14px;
	color: lightsalmon;
}
.profile__details p{
	margin: 0;
	padding: 10px 0px 0px;
	font-size: 14px;
	color: #ff4d4d;
}

.profile__details h3{
	background:brown;
	padding: 8px 30px;
	color: white;
	border-radius: 25px;


}
.profile__details ul{
	margin: 0;
	padding: 0;
	display: flex;
}
.profile__details li{
	list-style-type: none;
	font-size: 20px;
	width: 33.3%;
  padding: 10px;
}
.profile__details a{
  color: brown;
}
.profile__details .close{
  font-size: 20px;
  position: absolute;
  top:5px;
  right: 5px;
  color: brown;
  cursor: pointer;

}
.myButton {
    width: 100%;
    background-color: brown;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    font-family: KoHo;
}

.myButton:hover{
background-color: red;
color: white;
}
.myInputs {
    width: 100%;
    font-size: 1.1em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.myInputs2 {
  width: 100%;
  font-size: 1.1em;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.dashboard-container{
	margin-left: 0;
}

.dashboard{
  min-height: calc(100vh - 100px);
}
.dropdown{
    position: fixed;
    top: 3rem;
    right:14.5rem;
    display: inline-block;
    z-index: 1500;
    display: none;
}
.user__dd:hover + .dropdown, .dropdown:hover {
  display: block;
}
.user__dd{
  cursor: pointer;
}

.dropdown_content{
  position: absolute;
  background-color: lightgray;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  .dropdown_content a{
    color: brown;
    text-decoration: none;
    padding: 5px;
    width: 300px;
  } 
  .dropdown_content ul li{
    list-style-type: none;
    display: block;
    padding: 8px;
    width: 250px;
  }
  .dropdown_content a:hover{
    background-color: brown;
    color: white;
  }
table{
  width:1000px;
  margin: auto;
}

table, th, td {
  border: 1px solid brown;
  border-collapse: collapse;
  opacity: 0.95;
  font-family: KoHo;

}
td a {
  text-decoration: none;
  color: brown;
}
 .profile__pic {
  width: 28px;
  border-radius:50%;
  height:28px;
  margin-top:5px;
}
header #identity{
  margin-top: 5px;
  padding-bottom:7px;
}
th, td {
  padding: 5px;
  text-align:center;
}

th{
  background-color: #330000;
  color: white;
}
tr:nth-child(even) {
background-color: lightgray;
color: #330000;

}
.navBar ul{
    list-style-type: none;
    width: 200px;
    background-color: inherit;
}

.navBar li a {
    display: inline-block;
    color: brown;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    width: 200px;
}

/* Change the link color on hover */
.navBar li a:hover {
    background-color: #555;
    color: white;
}

.navBar{
width: 20%;
float: left;
}

.create_form{
  background: linear-gradient(rgba(0, 0, 0, 0.6),
                              rgba(0, 0, 0, 0.6)
                              ); 
  background-size: cover;

}

#dashboard label{
  font-weight: bold;
  color: black;

}
#updateButton{
color: white;
background-color: brown;

}
.reference{
  color: brown;
}
.myButton2{
  width: 200px;
  padding-right:15px;
  padding-left: 15px;
  color: white;
  background-color: brown;
  font-size: 1.2em;
}
.admin-form{
  margin-top: 10px;
  float:right;
}
.myInputs2 {
    width: 200px;
    font-size: 1.1em;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.admin-form label{
  font-size: 1.2em;
}
#adminButton{
  width: 100px;
  background-color: brown;
}

#description{
  float:left;
  margin-top:10px;
  padding: 10px;
}

#cancelOrder{
  color: brown;
  font-weight: bold;
  float: right;
}

.myButton a {
  text-decoration: none;
  color: white;
}